%h4= t("ous.actions.edit")
= form_for @ou do |f|
  .form-group
    %table
      %tr
        %td= t("ous.name")
        %td= f.text_field :name, autofocus: false, ouholder: t("ous.name"), class: 'form-control'
      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @ou.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-oument" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}
