-if @ous.count > 20
  .flickr_pagination
    = will_paginate @ous

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("ous.id")
    %th= t("ous.name")
    -if current_user.admin?
      %th= t("ous.actions.title")
  %tbody
    - @ous.each do |row|
      -if can? :read, row
        %tr
          -if current_user.admin?
            %td
              = t("ous.id")
              = row.id.to_s
          %td= row.name.to_s
          -if current_user.admin?
            %td
              - if can? :edit, Ou
                = link_to edit_ou_path(row) do
                  = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
              - if can? :delete, Ou
                = link_to ou_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
                  = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @ous.count > 20
  .flickr_pagination
    = will_paginate @ous

-#permit(:name, :description, :contact_fio, :contact_address, :contact_email, :contact_phone)