-# -@id=params[:id]
%h1 Наименование проекта
%h2=@ou.name.to_s
%table
  %tr
    %td=t("ous.id")
    %td=@ou.id.to_s
  %tr
    %td=t("ous.name")
    %td=@ou.name
%div
  = link_to "Вернуться", ous_path, :class => "btn btn-primary btn-mini"