.row
  .col-lg-4.col-md-6.ml-auto.mr-auto
    %h1.text-center=t("devise.registrations.new.sign_up")
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      -@ous = Ou.all
      .form-group
        = f.text_field :name, autofocus: true, class: 'form-control', placeholder: t("activerecord.attributes.user.full_name")
      .form-group
        = f.email_field :email, autofocus: false, class: 'form-control', placeholder: t("activerecord.attributes.user.email")
      .form-group
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t("activerecord.attributes.user.password")
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: t("devise.passwords.edit.confirm_new_password")
      .form-group
        = "Образовательная организация:"
        %br
        = f.collection_select :ou_id, @ous, :id, :name, prompt: true, placeholder: t('user.choose_ou')
      .form-group
        = f.submit t("devise.registrations.new.sign_up"), class: "btn btn-primary btn-block btn-lg"
    .text-center
      = render "devise/shared/links"
