- if resource.errors.any?
  .alert.alert-danger
    %h2
      = I18n.t("errors.messages.not_saved",                 |
        count: resource.errors.count,                       |
        resource: resource.class.model_name.human.downcase) |
    %ul
      - resource.errors.messages.each do |message|
        %li= message
