-portals_def=nil
-districts_def=nil
-places_def=nil
-actives_def=nil
-auds_def=nil
-with_created_at_gte_def=Time.now.strftime('%Y-%m-%d')
-if !params[:filterrific].nil?
  -if !params[:filterrific][:events_params].nil?
    -portals_def=params[:filterrific][:events_params][:portals]
    -districts_def=params[:filterrific][:events_params][:districts]
    -places_def=params[:filterrific][:events_params][:places]
    -actives_def=params[:filterrific][:events_params][:actives]
    -auds_def=params[:filterrific][:events_params][:auds]
    -with_created_at_gte_def=params[:filterrific][:events_params][:with_created_at_gte]
-if !@filterrific.nil?
  -if !@filterrific.events_params.nil?
    -portals_def=@filterrific.events_params.portals
    -districts_def=@filterrific.events_params.districts
    -places_def=@filterrific.events_params.places
    -actives_def=@filterrific.events_params.actives
    -auds_def=@filterrific.events_params.auds
    -with_created_at_gte_def=@filterrific.events_params.with_created_at_gte
-if portals_def.nil?
  -portals_def=Portal.all.map(&:id)
-if districts_def.nil?
  -districts_def=District.all.map(&:id)
-if places_def.nil?
  -places_def=Place.all.map(&:id)
-if actives_def.nil?
  -actives_def=Active.all.map(&:id)
-if auds_def.nil?
  -auds_def=Aud.all.map(&:id)

= form_for_filterrific @filterrific do |f|
  .calendar-page__filters.align-self-top
    .calendar-page__filters-title.clickable
      Параметры
      %img{:src => "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAAABGdBTUEAALGPC/xhBQAAAH1JREFUKBWdkdEJwCAMRP12FJdytEzVUfptXwrS01asBqKn+A4uhlKK0btlATLSx4aDMzF4IRJ9Lpj423TDdeEiLxjkyjU7BvbDxBpID8CzeTy5FVSNyWge79wKqsYk031951ZQNbSJwzi3QqqB6zzmuRVUjYnPo/1vfYC+ACOghdg5nua/AAAAAElFTkSuQmCC"}
    .calendar-page__filters_content
      .calendar-view
        Найти
        .searchbox
          = f.text_field(:search_query, class: 'filterrific-periodically-observed')
      %div
        = f.fields_for :events_params do |events_params_fields|
          .calendar-view
            Проекты
            .dropdown
              -# =events_params_fields.collection_select :portals, @portals, :id, :name, { include_blank: '- Любой -', include_hidden: false , :selected => portals_def}, multiple: true
              =events_params_fields.collection_select :portals, @portals, :id, :name, { include_hidden: false , :selected => portals_def}, multiple: true
          .calendar-view
            Округа
            .dropdown
              -# =events_params_fields.collection_select :districts, @districts, :id, :name, { include_blank: '- Любой -', include_hidden: false, :selected => districts_def}, multiple: false
              =events_params_fields.collection_select :districts, @districts, :id, :name, {include_hidden: false , :selected => districts_def}, multiple: true
          .calendar-view
            Места проведения
            .dropdown
              -# =events_params_fields.collection_select :places, @places, :id, :name, { include_blank: '- Любое -', include_hidden: false, :selected => places_def}, multiple: false
              =events_params_fields.collection_select :places, @places, :id, :name, { include_hidden: false , :selected => places_def}, multiple: true
          .calendar-view
            Тип активности
            .dropdown
              -# =events_params_fields.collection_select :actives, @actives, :id, :name, { include_blank: '- Любая -', include_hidden: false, :selected => actives_def}, multiple: false
              =events_params_fields.collection_select :actives, @actives, :id, :name, { include_hidden: false , :selected => actives_def}, multiple: true
          .calendar-view
            Целевая аудитория
            .dropdown
              -# =events_params_fields.collection_select :auds, @auds, :id, :name, { include_blank: '- Любая -', include_hidden: false, :selected => auds_def}, multiple: false
              =events_params_fields.collection_select :auds, @auds, :id, :name, { include_hidden: false , :selected => auds_def}, multiple: true
          .calendar-view
            Дата проведения не ранее
            .dropdown
              =events_params_fields.date_field :with_created_at_gte, :value => with_created_at_gte_def
      %div
        -# = button_to('Сбросить фильтр', reset_filterrific_url)
      =f.submit 'Применить фильтр'