#filterrific_results
  .flickr_pagination
    = will_paginate @events
  %div
    ="Найдено #{@events.count} мероприятий."
  - @events.each do |event|
    .calendar-page__events-cards.grid-x.align-justify
      %section.event-card.small-12.grid-x
        .event-card__date.small-2.grid-y.show-for-medium
          .event-card__date-time.small-2.grid-y.align-center-middle
            =event.start_time.strftime("%H:%M")
          .event-card__date-day.small-2.grid-y.align-center-middle
            -if !event.date.nil?
              =t(event.date.strftime("%A"))
            -else
              ="не указана"
          .event-card__date-date.cell.auto.grid-y.align-center-middle
            %p
              -if !event.date.nil?
                =event.date.day
                %br/
                =t(event.date.strftime("%B"))
              -else
                ="--"
        .event-card__date.small-12.grid-x.show-for-small-only
          .event-card__date-day.small-12.grid-x.align-middle
            =event.date_to_formatted_string

        .event-card__content.small-12.medium-10.grid-x
          .event-card__content-status.small-12.grid-x.align-middle.success
            ="Зарегистрировано "
            =event.registered_string
            ="."
          .event-card__content-image.small-12.medium-4.align-self-middle
            -if !event.portals.first.nil?
              = image_tag event.portals.first.logo_image.variant(resize_to_limit: [200, 200])
            -else
              %img{:src => asset_path('no_logo.png'), :height => 50, :width => 200, :alt => "Нет логотипа"}
            .event-card__content-image-stat.grid-x.align-spaced.align-bottom
              .cell.shrink
                %span.event-card__content-image-stat-clock
                  = event.time_diff
              %span.el-tooltip.event-card__content-image-extramural.event-card__content-image-extramural{"aria-describedby" => "el-tooltip-2363", :tabindex => "0"}
                =event.duration.strftime("%H:%M")
          .event-card__content-description.small-12.medium-8
            .event-card__content-description-title
              =link_to(event.name, event_path(event))
            -event.places.find_each do |pl|
              .event-card__content-description-agent
                =pl.name
            .event-card__content-description-info.grid-x
              .event-card__content-description-info-list.small-12.medium-7
                %ul
                  -event.formats.find_each do |format|
                    %li.event-card__content-description-info-list-item.grid-x.align-middle
                      =format.name
                  -event.auds.find_each do |aud|
                    %li.event-card__content-description-info-list-item.grid-x.align-middle
                      =aud.name
                  -event.actives.find_each do |active|
                    %li.event-card__content-description-info-list-item.grid-x.align-middle
                      =active.name
              .event-card__content-description-info-more.small-12.medium-5.align-self-bottom
                %a{:href => "/events/" + event.id.to_s, :target => "_blank"}
                  %button.el-button.el-button--primary{:type => "button"}
                    %span Подробнее
