-#%h1="Мероприятия"


.filterrific-periodically-observed
  .grid-container
    %section.calendar-page.grid-x.align-justify
      .small-12.large-3
        = render :partial => '/calendar/events_calendar_filters', :locals => {:legend => t(".title")}
      .small-12.large-9
        %h1.calendar-page__events-title Календарь мероприятий
        = render_filterrific_spinner
        = render :partial => 'list', :locals => {:legend => t(".title")}
