%h4= t("auds.actions.edit")
= form_for @aud do |f|
  .form-group
    %table
      %tr
        %td= t("auds.full_name")
        %td= f.text_field :name, autofocus: false, audholder: t("auds.name"), class: 'form-control'
      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @aud.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-audment" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}
