-if @auds.count > 20
  .flickr_pagination
    = will_paginate @auds

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("auds.id")
    %th= t("auds.name")
    -if current_user.admin?
      %th= t("auds.actions.title")
  %tbody
    - @auds.each do |row|
      -if can? :read, row
        %tr
          -if current_user.admin?
            %td
              = t("auds.id")
              = row.id.to_s
              = t("auds.created_at")
              = row.created_at.to_s
              = t("auds.updated_at")
              = row.updated_at.to_s
          %td= row.name.to_s
          -if current_user.admin?
            %td
              - if can? :edit, Aud
                = link_to edit_aud_path(row) do
                  = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
              - if can? :delete, Aud
                = link_to aud_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
                  = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @auds.count > 20
  .flickr_pagination
    = will_paginate @auds

-#permit(:name, :description, :contact_fio, :contact_address, :contact_email, :contact_phone)