-# -@id=params[:id]
%h1 Наименование проекта
%h2=@aud.name.to_s
%table
  %tr
    %td=t("auds.code")
    %td=@aud.code.to_s
  %tr
    %td=t("auds.full_name")
    %td=@aud.name
%div
  = link_to "Вернуться", auds_path, :class => "btn btn-primary btn-mini"