%h4= t("actives.actions.edit")
= form_for @active do |f|
  .form-group
    %table
      %tr
        %td= t("actives.full_name")
        %td= f.text_field :name, autofocus: false, activeholder: t("actives.name"), class: 'form-control'
      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @active.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-activement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}
