-if @actives.count > 20
  .flickr_pagination
    = will_paginate @actives

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("actives.id")
    %th= t("actives.name")
    -if current_user.admin?
      %th= t("actives.actions.title")
  %tbody
    - @actives.each do |row|
      -if can? :read, row
        %tr
          -if current_user.admin?
            %td
              = t("actives.id")
              = row.id.to_s
              = t("actives.created_at")
              = row.created_at.to_s
              = t("actives.updated_at")
              = row.updated_at.to_s
          %td= row.name.to_s
          -if current_user.admin?
            %td
              - if can? :edit, Active
                = link_to edit_active_path(row) do
                  = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
              - if can? :delete, Active
                = link_to active_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
                  = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @actives.count > 20
  .flickr_pagination
    = will_paginate @actives

-#permit(:name, :description, :contact_fio, :contact_address, :contact_email, :contact_phone)