-# -@id=params[:id]
%h1 Наименование проекта
%h2=@active.name.to_s
%table
  %tr
    %td=t("actives.code")
    %td=@active.code.to_s
  %tr
    %td=t("actives.full_name")
    %td=@active.name
%div
  = link_to "Вернуться", actives_path, :class => "btn btn-primary btn-mini"