%h4= t("formats.actions.edit")
= form_for @format do |f|
  .form-group
    %table
      %tr
        %td= t("formats.full_name")
        %td= f.text_field :name, autofocus: false, formatholder: t("formats.name"), class: 'form-control'
      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @format.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-formatment" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}
