-if @formats.count > 20
  .flickr_pagination
    = will_paginate @formats

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("formats.id")
    %th= t("formats.name")
    -if current_user.admin?
      %th= t("formats.actions.title")
  %tbody
    - @formats.each do |row|
      -if can? :read, row
        %tr
          -if current_user.admin?
            %td
              = t("formats.id")
              = row.id.to_s
              = t("formats.created_at")
              = row.created_at.to_s
              = t("formats.updated_at")
              = row.updated_at.to_s
          %td= row.name.to_s
          -if current_user.admin?
            %td
              - if can? :edit, Format
                = link_to edit_format_path(row) do
                  = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
              - if can? :delete, Format
                = link_to format_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
                  = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @formats.count > 20
  .flickr_pagination
    = will_paginate @formats

-#permit(:name, :description, :contact_fio, :contact_address, :contact_email, :contact_phone)