-# -@id=params[:id]
%h1 Наименование проекта
%h2=@format.name.to_s
%table
  %tr
    %td=t("formats.code")
    %td=@format.code.to_s
  %tr
    %td=t("formats.full_name")
    %td=@format.name
%div
  = link_to "Вернуться", formats_path, :class => "btn btn-primary btn-mini"