%h4= t("site_infos.actions.edit")
= form_for @site_info do |f|
  .form-group
    %table
      %tr
        %td= t("site_infos.site_name")
        %td= f.text_field :site_name, autofocus: false, placeholder: t("site_infos.site_name"), class: 'form-control'
      %tr
        %td= t("site_infos.dev_site_link")
        %td= f.text_field :dev_site_link, autofocus: false, placeholder: t("site_infos.dev_site_link"), class: 'form-control'
      %tr
        %td
          = t("site_infos.logo_image")
          -if @site_info.logo_image.attached?
            = image_tag @site_info.logo_image.variant(resize_to_limit: [100, 100])
        %td
          = f.file_field :logo_image, direct_upload: true
          = f.check_box(:delete_logo_image)
          = t("site_infos.delete_file")
      %tr
        %td
          = t("site_infos.dev_logo_image")
          -if @site_info.dev_logo_image.attached?
            = image_tag @site_info.dev_logo_image.variant(resize_to_limit: [100, 100])
        %td
          = f.file_field :dev_logo_image, direct_upload: true
          = f.check_box(:delete_dev_logo_image)
          = t("site_infos.delete_file")
      %tr
        %td= t("site_infos.copyright_string")
        %td= f.text_field :copyright_string, autofocus: false, placeholder: t("site_infos.copyright_string"), class: 'form-control'
      %tr
        %td= t("site_infos.copyright_string_link1_name")
        %td= f.text_field :copyright_string_link1_name, autofocus: false, placeholder: t("site_infos.copyright_string_link1_name"), class: 'form-control'
      %tr
        %td= t("site_infos.copyright_string_link1_url")
        %td= f.text_field :copyright_string_link1_url, autofocus: false, placeholder: t("site_infos.copyright_string_link1_url"), class: 'form-control'
      %tr
        %td= t("site_infos.copyright_string_link2_name")
        %td= f.text_field :copyright_string_link2_name, autofocus: false, placeholder: t("site_infos.copyright_string_link2_name"), class: 'form-control'
      %tr
        %td= t("site_infos.copyright_string_link2_url")
        %td= f.text_field :copyright_string_link2_url, autofocus: false, placeholder: t("site_infos.copyright_string_link2_url"), class: 'form-control'

      %tr
        %td= t("site_infos.sn_vk")
        %td= f.text_field :sn_vk, autofocus: false, placeholder: t("site_infos.sn_vk"), class: 'form-control'
      %tr
        %td= t("site_infos.sn_facebook")
        %td= f.text_field :sn_facebook, autofocus: false, placeholder: t("site_infos.sn_facebook"), class: 'form-control'
      %tr
        %td= t("site_infos.sn_twitter")
        %td= f.text_field :sn_twitter, autofocus: false, placeholder: t("site_infos.sn_twitter"), class: 'form-control'
      %tr
        %td= t("site_infos.sn_ok")
        %td= f.text_field :sn_ok, autofocus: false, placeholder: t("site_infos.sn_ok"), class: 'form-control'

      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @site_info.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}
