-if @site_infos.count > 20
  .flickr_pagination
    = will_paginate @site_infos

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("site_infos.id")
    %th= t("site_infos.logo_image")
    %th= t("site_infos.name")
    %th= t("site_infos.description")
    %th= t("site_infos.about")
    -if current_user.admin?
      %th= t("site_infos.actions.title")
  %tbody
    - @site_infos.each do |row|
      -if can? :read, row
        %tr
          -if current_user.admin?
            %td
              = t("site_infos.id")
              = row.id.to_s
              %br
                = t("site_infos.created_at")
                = row.created_at.to_s
              %br
                = t("site_infos.updated_at")
                = row.updated_at.to_s
          %td
            = image_tag row.logo_image.variant(resize_to_limit: [100, 100])
            -# - else
            -#   -if row.logo_image.attached?
            -#     = link_to row.logo_image.filename, row.logo_image
            -#   -else
            -#     = t("site_infos.file_is_absent")
          %td= row.name.to_s
          %td= row.description.to_s
          %td= row.about.to_s
          -if current_user.admin?
            %td
              - if can? :edit, SiteInfo
                = link_to edit_site_info_path(row) do
                  = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
              - if can? :delete, SiteInfo
                = link_to site_info_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
                  = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @site_infos.count > 20
  .flickr_pagination
    = will_paginate @site_infos