-# -@id=params[:id]
%h1 Наименование проекта
%h2=@site_info.name.to_s
%table
  %tr
    %td=t("site_infos.code")
    %td=@site_info.code.to_s
  %tr
    %td=t("site_infos.full_name")
    %td=@site_info.name
%div
  = link_to "Вернуться", site_infos_path, :class => "btn btn-primary btn-mini"