-# -@site_info = SiteInfo.all.first
%footer.text-muted.bg-light
  .container
    %span
      ="© #{Date.today.year}"
      -if !@site_info.nil?
        =(@site_info.copyright_string || 'Информация о разработчике не заполнена')
    -if !@site_info.nil?
      %ul.list-inline.mb-0.float-right
        -if !@site_info.copyright_string_link1_name.nil?
          %li.list-inline-item.mr-3= link_to @site_info.copyright_string_link1_name, @site_info.copyright_string_link1_url
        -if !@site_info.copyright_string_link2_name.nil?
          %li.list-inline-item.mr-3= link_to @site_info.copyright_string_link2_name, @site_info.copyright_string_link2_url
