-@site_info=SiteInfo.first
-if !@site_info.nil?
  %title= @site_info.site_name
-else
  %title= Rails.configuration.application_name
%meta{:charset => "utf-8"}/
%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

%table.table-borderless{:style=>"width:100%;"}
  %tr
    %td
      %br
    %td
      .page-header__logo.small-12.medium-3.large-2{"data-v-65f5be38" => ""}
        -if !@site_info.nil?
          %a{:href => "/"}
            = image_tag @site_info.logo_image.variant(resize_to_limit: [100, 100])
    %td
      .page-header__title.medium-9.large-10.show-for-medium{"data-v-65f5be38" => ""}
        %span.page-header__title-main{"data-v-65f5be38" => ""}
          -if !@site_info.nil?
            =@site_info.site_name
          -else
            =Rails.configuration.application_name
    %td
      -if !@site_info.nil?
        %a{:href => @site_info.dev_site_link.to_s, :target => "_blank"}
          .page-header__dogm-logo.small-6.medium-4.large-2.show-for-large
            -if !@site_info.nil?
              = image_tag @site_info.dev_logo_image.variant(resize_to_limit: [100, 100])