- if user_masquerade?
  .alert.alert-warning.text-center
    Вы вошли как
    %b
      = current_user.name
      (#{current_user.email})
    = link_to back_masquerade_path(current_user) do
      = icon("fas", "times")
      Logout
%nav.navbar.navbar-expand-md.navbar-light.bg-light
  .container
    - @site_info = SiteInfo.all.first
    = link_to "Главная", root_path, class: "navbar-brand"
    %button.navbar-toggler{"aria-controls" => "navbarsExample04", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarMain", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarMain.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto.mt-2.mt-md-0
      %ul.navbar-nav
        %li.nav-item= link_to "Все проекты", root_path, class: "nav-link"
        %li.nav-item= link_to "Календарь мероприятий", calendar_index_path, class: "nav-link"
        %li.nav-item= link_to "Архив", '/calendar?filterrific[search_query]=&filterrific[events_params][portals]=&filterrific[events_params][districts]=&filterrific[events_params][places]=&filterrific[events_params][actives]=&filterrific[events_params][auds]=&filterrific[events_params][with_created_at_gte]=2021-01-01&commit=Применить фильтр', class: "nav-link"
        - if user_signed_in?
          -#%li.nav-item
          -#  = link_to notifications_path, class: "nav-link" do
          -#    %span
          -#      %i.far.fa-bell{"aria-hidden" => "true"}
          %li.nav-item.dropdown
            = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
              = image_tag avatar_path(current_user, size: 40), height: 20, width: 20, class: "rounded"
            #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
              - if current_user.admin? && respond_to?(:admin_root_path)
                = link_to "Проекты", portals_path, class: "dropdown-item"
                = link_to "Образовательные организации", ous_path, class: "dropdown-item"
                = link_to "Места проведения", places_path, class: "dropdown-item"
                = link_to "Типы активностей", actives_path, class: "dropdown-item"
                = link_to "Округа", districts_path, class: "dropdown-item"
                = link_to "Форматы проведения", formats_path, class: "dropdown-item"
                = link_to "Целевые аудитории", auds_path, class: "dropdown-item"
                %hr
                = link_to "Информация о сайте", site_infos_path, class: "dropdown-item"
                = link_to t("navigation.admin_area"), admin_root_path, class: "dropdown-item"
                %hr
              -if (current_user.admin? && respond_to?(:admin_root_path)) or current_user.publisher_role?
                = link_to "Мероприятия", events_path, class: "dropdown-item"
              = link_to "Мои мероприятия", my_events_path, class: "dropdown-item"
              %hr
              = link_to "Настройки аккаунта", edit_user_registration_path, class: "dropdown-item"
              .dropdown-divider
              = link_to "Выйти", destroy_user_session_path, method: :delete, class: "dropdown-item"
        - else
          -#%li.nav-item= link_to "Личный кабинет", new_user_registration_path, class: "nav-link"
          %li.nav-item= link_to "Личный кабинет", new_user_session_path, class: "nav-link"
