%h1 О проекте
.about-project__wrapper-content{"data-v-7b51cf1d" => ""}
  .about-project__title{"data-v-7b51cf1d" => ""}
    =@portal.name
  .about-project__description{"data-v-7b51cf1d" => ""}
    %div{"data-v-7b51cf1d" => ""}
      %p.p_stylized
        =@portal.description
      %p.p_stylized
        =@portal.about