-#%h1 Welcome to Jumpstart!
-#%p.lead
-#  Use this document as a way to quickly start any new project.
-#  %br/
-#  All you get is this text and a mostly barebones HTML document.

!!
%html{"data-n-head" => "", "data-n-head-ssr" => ""}
  %head
  %body{"data-n-head" => ""}
    #__nuxt{"data-server-rendered" => "true"}
      /
      #__layout
        .page{"data-v-69362bd2" => ""}
          .page-header.page__page-header.page__header{"data-v-65f5be38" => "", "data-v-69362bd2" => ""}
            .page-header-wrapper.grid-container.grid-x.align-middle.align-justify{"data-v-65f5be38" => ""}
              .grid-x.align-middle.small-6.medium-10.large-9{"data-v-65f5be38" => ""}
                .page-header__logo.small-12.medium-3.large-2{"data-v-65f5be38" => ""}
                  %a{"data-v-65f5be38" => "", :href => "/calendar"}
                    %img{:alt => "", "data-v-65f5be38" => "", :src => "assets/bc024f6.svg"}/
                .page-header__title.medium-9.large-10.show-for-medium{"data-v-65f5be38" => ""}
                  %span.page-header__title-main{"data-v-65f5be38" => ""} Субботы свердловского школьника
              %a{"data-v-65f5be38" => "", :href => "https://www.mos.ru/dogm/", :target => "_blank"}
                .page-header__dogm-logo.small-6.medium-4.large-2.show-for-large{"data-v-65f5be38" => ""}
                  %img{:alt => "", "data-v-65f5be38" => "", :src => "assets/80dca94.png"}/
              .page-header__menu-btn.small-6.show-for-small-only{"data-v-65f5be38" => ""}
                %button{"data-v-65f5be38" => ""}
          /
          .page__content-wrapper{"data-v-69362bd2" => ""}
            .grid-container{"data-v-69362bd2" => ""}
              %section.projects-page.grid-x.align-justify.medium-up-3.large-up-4{"data-v-401d4034" => "", "data-v-69362bd2" => ""}
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/14"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=14"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/014/medium/it_14png.png?1606482428"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      IT - субботы
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Мастер-классы, семинары и лекции от ведущих программистов, разработчиков, 3D-инженеров и других специалистов отрасли.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/1"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=1"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/001/medium/art.1png.png?1606482673"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Арт - субботы
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Экскурсии на площадки современного и академического искусства, лекции и мастер-классы известных галеристов, художников, дизайнеров и арт-менеджеров. Развивают творческий потенциал и общий культурный кругозор.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/25"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=25"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/025/medium/dom.png?1606482763"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Департаментская суббота
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Встречи учащихся и студентов с заместителями руководителя и начальниками управлений Департамента образования и науки Москвы, которые делятся опытом по своим направлениям.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/21"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=21"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "assets/1606727386.png"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Инженерные субботы
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Просветительско-образовательный проект для всех желающих посетить вузовские  высокотехнологичные лаборатории, производственные зоны.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/6"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=6"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/006/medium/history.png?1606483024"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Исторические субботы
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Лекции, викторины, квесты, мастер-классы и интерактивные экскурсии в музеях и парках столицы. С их помощью проще понять процессы, происходящие в обществе и законы его развития.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/20"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=20"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/020/medium/cosmos.png?1606483129"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Космические субботы
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Экскурсии в Центр подготовки космонавтов имени Юрия Гагарина в Звёздном городке, Центральный дом авиации и космонавтики, Мемориальный музей космонавтики, МАИ и Московский планетарий.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/29"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "http://events.educom.ru/calendar?onlyActual=false&pageNumber=1&search=&portalIds=29", :target => "_blank"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/029/medium/med.png?1606727059"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Медицинские субботы
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Проект для тех, кто мечтает стать врачом и хочет больше знать о медицине. Знакомство с уникальными медицинскими специальностями, научными проблемами и новыми разработками в области современной медицины.
                      Лекции практикующих врачей и ученых.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/27"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=27"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/027/medium/nauka.png?1606727476"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Научные субботы
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Встречи с известными учеными и популяризаторами науки, на которых школьники узнают, зачем заниматься исследованиями и как они пригодятся в обычной жизни.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/15"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=15"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/015/medium/prosto.png?1606727136"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Просто о сложном
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Лучшие учителя и специалисты столицы своими словами объясняют трудные для восприятия темы.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/19"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=19"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/019/medium/profsreda.png?1606727172"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Профессиональная среда
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Фестивали, квесты, мастер-классы и тренинги в колледжах, на предприятиях и открытых площадках. Помогают учащимся скорее определиться, кем стать.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/23"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=23"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/023/medium/pi_logo.png?1606727533"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Профессиональные стажировки
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Отраслевые экскурсии для московских школьников и студентов колледжей на площадках ведущих столичных компаний и высокотехнологичных предприятий. Встречи с работодателями города. Карьерные тренинги от специалистов эйчар-сферы.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/5"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=5"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/005/medium/sport5.png?1606482910"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Спортивные субботы
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Знакомство с разными видами спорта, семинары и мастер-классы известных спортсменов и тренеров, посещение крупных спортивных объектов и соревнований, лекции о ЗОЖ и подготовка к сдаче ГТО.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/11"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=11"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/011/medium/%D0%BD%D0%BE%D0%B2%D1%8B%D0%B5_%D1%81%D0%B0_%D0%BB%D0%BE%D0%B3%D0%BE-02.png?1605163192"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Субботы активиста
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Программа из модулей по актуальным темам управления и лидерства для настоящих активистов детско-молодежного сообщества Москвы.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/26"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=26"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/026/medium/budushego.png?1606727332"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Субботы будущего
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Интерактивные форматы с представителями профессий, которые будут наиболее востребованы и рассказы об инновациях в образовании.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/18"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=18"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/018/medium/muchestva.png?1606727109"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Субботы мужества
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Лекции и мастер-классы по разным видам подготовки, кинопоказы, экскурсии в ведущие военные ВУЗы, воинские части Московского гарнизона, парк «Патриот», городские музеи, учебные комплексы ДОСААФ.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/22"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=22"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/022/medium/pravo.png?1606727415"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Субботы правовой грамотности
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Обучающиеся образовательных организаций смогут посетить интересные лекции, мастер-классы, квесты, разъясняющие основные законы Москвы, права и обязанности жителей столицы.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/16"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=16"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/016/medium/tv.png?1606727437"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      ТВ - субботы
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Экскурсии на Московский образовательный телеканал, лекции и мастер-классы тележурналистов, режиссёров, операторов, монтажёров, звукорежиссёров и продюсеров, съёмки телепрограмм с участием школьников.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/28"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=28"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/028/medium/transport.png?1606727559"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Транспортные субботы
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Лекции и мастер-классы от людей, создающих транспортную систему настоящего и будущего. Помогут понять, как общественный транспорт помогает жителям мегаполиса, какие специальности востребованы в этой сфере и где им обучиться.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/17"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=17&portalIds=21&portalIds=22"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/017/medium/univer.png?1606727217"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Университетские субботы
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Мастер-классы, семинары и лекции профессорско-преподавательского состава ведущих ВУЗов Москвы.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/7"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=7"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/007/medium/finans.png?1606727261"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Финансовые и предпринимательские субботы
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Лекции, мастер-классы и тренинги об управлении личными финансами и их приумножении, ведении бизнеса, работе экономической и финансовой систем государства.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/13"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=13"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/013/medium/forsait.png?1606727307"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Форсайт профессионального успеха
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Деловые игры и интерактивные форматы для развития надпрофессиональных навыков и качеств, важных в рабочих процессах.
                .projects-page__card.cell{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/12"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/calendar?onlyActual=false&pageNumber=1&search=&portalIds=12"}
                      Просмотреть мероприятия
                  .projects-page__card-banner{"data-v-401d4034" => ""}
                    %img{"data-v-401d4034" => "", :src => "https://regs.temocenter.ru//system/portals/images/000/000/012/medium/eco.png?1606727361"}/
                    .projects-page__card-title{"data-v-401d4034" => ""}
                      Экосубботы московских школьников
                    %p.projects-page__card-description{"data-v-401d4034" => ""}
                      Лекции и мастер-классы по рациональному потреблению, раздельному сбору отходов, вторичному использованию материалов, изучению природного разнообразия и методов его защиты. Учат ответственному отношению к окружающей среде.
                .projects-page__card.cell.fantom{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/0.39799850851905405"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "http://undefined", :target => "_blank"}
                      Просмотреть мероприятия
                  /
                .projects-page__card.cell.fantom{"data-v-401d4034" => ""}
                  .projects-page__card-sub-banner{"data-v-401d4034" => ""}
                  .projects-page__card-buttons{"data-v-401d4034" => ""}
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "/about/0.4944583291080442"}
                      О проекте
                    %a.projects-page__card-btn{"data-v-401d4034" => "", :href => "http://undefined", :target => "_blank"}
                      Просмотреть мероприятия
                  /
          %footer.page-footer{"data-v-35b9b0cc" => "", "data-v-69362bd2" => ""}
            .page-footer__wrapper.grid-container.grid-x{"data-v-35b9b0cc" => ""}
              .page-footer__info{"data-v-35b9b0cc" => ""}
                2021 © Разработка и поддержка
                %a{"data-v-35b9b0cc" => "", :href => "https://mcko.ru/"} МЦКО
              .page-footer__info{"data-v-35b9b0cc" => ""}
                Техническая поддержка
                %a{"data-v-35b9b0cc" => "", :href => "mailto:subbota@edu.mos.ru"} subbota@edu.mos.ru
