-#%h1 Welcome to Jumpstart!
-#%p.lead
-#  Use this document as a way to quickly start any new project.
-#  %br/
-#  All you get is this text and a mostly barebones HTML document.

-#Субботы свердловского школьника
-#https://edu.ru
-#Разработчик
-#Ссылка 1
-#/about
-#Ссылка 2
-#/about2

-@site_info = SiteInfo.all.first
-@portals = Portal.all.order('id asc')

.page
  .page__content-wrapper
    .grid-container
      %section.projects-page.grid-x.align-justify.medium-up-3.large-up-4
        -@portals.each do |row|
          .projects-page__card.cell
            .projects-page__card-sub-banner
            .projects-page__card-buttons
              %a.projects-page__card-btn{:href => "/about/" + row.id.to_s}
                ="О проекте"
              %a.projects-page__card-btn{:href => "/calendar?filterrific%5Bevents_params%5D%5Bportals%5D[]=" + row.id.to_s}
                ="Просмотреть мероприятия"
            .projects-page__card-banner
              -begin
                -if !row.logo_image.nil?
                  = image_tag row.logo_image.variant(resize_to_limit: [200, 200])
                -else
                  %img{:src => asset_path('no_logo.png'), :height => 50, :width => 200, :alt => "Нет логотипа"}
              -rescue
                %img{:src => asset_path('no_logo.png'), :height => 200, :width => 200, :alt => "Нет логотипа"}
              .projects-page__card-title
                =row.name.to_s
              %p.projects-page__card-description
                =row.about.to_s
