%h4= t("events.actions.edit")
= form_for @event do |f|
  .form-group
    %table
      %tr
        %td= t("events.portals")
        %td= f.collection_check_boxes :portal_ids, Portal.all, :id, :name, placeholder: t("events.portals")
      %tr
        %td= t("events.full_name")
        %td= f.text_field :name, autofocus: false, placeholder: t("events.name"), class: 'form-control'
      %tr
        %td= t("events.description")
        %td= f.rich_text_area :description
      %tr
        %td= t("events.actives")
        %td= f.collection_check_boxes :active_ids, Active.all, :id, :name, placeholder: t("events.actives")
      %tr
        %td= t("events.places")
        %td= f.collection_check_boxes :place_ids, Place.all, :id, :name, placeholder: t("events.places")
      %tr
        %td= t("events.districts")
        %td= f.collection_check_boxes :district_ids, District.all, :id, :name, placeholder: t("events.districts")
      %tr
        %td= t("events.formats")
        %td= f.collection_check_boxes :format_ids, Format.all, :id, :name, placeholder: t("events.formats")
      %tr
        %td= t("events.auds")
        %td= f.collection_check_boxes :aud_ids, Aud.all, :id, :name, placeholder: t("events.auds")
      %tr
        %td= t("events.date")
        %td= f.date_field :date
      %tr
        %td= t("events.start_time")
        %td= f.time_select :start_time
      %tr
        %td= t("events.duration")
        %td= f.time_select :duration
      %tr
        %td= t("events.max_participants")
        %td= f.number_field :max_participants
      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @event.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}


