#filterrific_results
  -if @events.count > 20
    .flickr_pagination
      = will_paginate @events
  %table.table-borderless.table-striped
    %tr
      %th="Наименование"
      -#%th= filterrific_sorting_link(@filterrific, :Активность)
      -#%th= filterrific_sorting_link(@filterrific, :Округ)
      %th="Формат"
      -#%th= filterrific_sorting_link(@filterrific, :Аудитория)
      -#%th= filterrific_sorting_link(@filterrific, :Начало)
      %th= "Участников"
      %th= "Действия"
    - @events.each do |event|
      %tr
        %td
          = link_to(event.name, event_path(event))
        -#%td= event.active.map(&:name).join(', ')
        -#%td= event.district.map(&:name).join(', ')
        %td= event.formats.map(&:name).join(', ')
        -#%td= event.aud.map(&:name).join(', ')
        -#%td= event.duration_formatted_string
        %td= event.max_participants
        %td
          - if can? :edit, event
            = link_to edit_event_path(event) do
              = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
              = "Править"
          %br
          - if can? :delete, event
            = link_to event_path(event), :method => :delete,  data: { confirm: t('delete_confirm')} do
              = bootstrap_icon "trash", width: 15, height: 15, fill: "red"
              = "Удалить"

-if @events.count > 20
  .flickr_pagination
    = will_paginate @events

-# = will_paginate @events # provided by will_paginate


-#
-# %table.table.table-striped
-#   %thead
-#     -if current_user.admin?
-#       %th= t("events.id")
-#     %th= t("events.name")
-#     %th= t("events.actives")
-#     %th= t("events.districts")
-#     %th= t("events.formats")
-#     %th= t("events.auds")
-#     %th= t("events.date")
-#     %th= t("events.start_time")
-#     %th= t("events.duration")
-#     %th= t("events.max_participants")
-#     %th= t("events.times")
-#     -if current_user.admin?
-#       %th= t("events.actions.title")
-#   %tbody
-#     - @events.each do |row|
-#       -if can? :read, row
-#         %tr
-#           -if current_user.admin?
-#             %td
-#               = t("events.id")
-#               = row.id.to_s
-#           %td= row.name.to_s
-#           %td= row.active.map(&:name).join(', ')
-#           %td= row.district.map(&:name).join(', ')
-#           %td= row.format.map(&:name).join(', ')
-#           %td= row.aud.map(&:name).join(', ')
-#           %td= row.date
-#           %td= row.start_time
-#           %td= row.duration
-#           %td= row.max_participants
-#           %td
-#             = row.created_at
-#             = row.updated_at
-#           -if current_user.admin?
-#             %td
-#               - if can? :edit, Event
-#                 = link_to edit_event_path(row) do
-#                   = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
-#               - if can? :delete, Event
-#                 = link_to event_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
-#                   = bootstrap_icon "trash", width: 15, height: 15, fill: "red"
-#
-# -if @events.count > 20
-#   .flickr_pagination
-#     = will_paginate @events