-@my_events = MyEvent.where(:event_id => @event.id).order('id ASC')
%table.table-bordered
  %tr
    %th="Запись №"
    %th="Фамилия пользователя"
    %th="Имя пользователя"
    %th="Email пользователя"
    %th="Время создания записи"
  -@my_events.each do |ev|
    %tr
      %td=link_to ev.id.to_s, edit_my_event_path(ev)
      %td=ev.user.first_name
      %td=ev.user.last_name
      %td=ev.user.email
      %td=ev.created_at

