-#%h1="Мероприятия"


.filterrific-periodically-observed
  .grid-container{"data-v-69362bd2" => ""}
    %section.calendar-page.grid-x.align-justify{"data-v-4dfd2ffe" => "", "data-v-69362bd2" => ""}
      .small-12.large-3{"data-v-4dfd2ffe" => ""}
        = render :partial => '/calendar/events_calendar_filters', :locals => {:legend => t(".title")}
      .small-12.large-9{"data-v-4dfd2ffe" => ""}
        %h1.calendar-page__events-title{"data-v-4dfd2ffe" => ""} Календарь мероприятий
        - if can? :create, Event
          = link_to 'Добавить', new_event_path, class: 'btn btn-success'
        = render_filterrific_spinner
        = render :partial => 'list', :locals => {:legend => t(".title")}
