-@site_info = SiteInfo.all.first
-#Верхний блок: Дата, Время, Длительной и количество регистраций
.info-panel.grid-x.event-page__component{"data-v-12781a52" => "", "data-v-47a53cef" => ""}
  .info-panel__content{"data-v-12781a52" => ""}
    .info-panel__title{"data-v-12781a52" => ""}
      %span{"data-v-12781a52" => ""} Дата проведения
    .info-panel__description{"data-v-12781a52" => ""}
      %svg.info-panel__icon.svg{"data-v-12781a52" => "", "data-v-70713aad" => "", :height => "25", :viewbox => "0 0 25 25", :width => "25", :xmlns => "http://www.w3.org/2000/svg"}
        %g{"data-v-70713aad" => ""}
          %g{"data-v-70713aad" => ""}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M24.177 10H.833V5.417c0-.69.561-1.25 1.25-1.25h.418v1.25c0 .689.56 1.25 1.25 1.25h.834c.69 0 1.25-.561 1.25-1.25v-1.25h13.34v1.25c0 .689.56 1.25 1.25 1.25h.834c.69 0 1.25-.561 1.25-1.25v-1.25h.417c.69 0 1.25.56 1.25 1.25zm0 12.926c0 .69-.561 1.25-1.25 1.25H2.083c-.69 0-1.25-.56-1.25-1.25V10.833h23.343zM3.333 1.25c0-.23.187-.417.417-.417h.833c.23 0 .417.187.417.417v4.167c0 .23-.187.416-.417.416H3.75a.417.417 0 0 1-.417-.416zM20 1.25c0-.23.187-.417.417-.417h.833c.23 0 .417.187.417.417v4.167c0 .23-.187.416-.417.416h-.833A.417.417 0 0 1 20 5.417zm2.917 2.083H22.5V1.25C22.5.56 21.94 0 21.25 0h-.833c-.69 0-1.25.56-1.25 1.25v2.083H5.833V1.25c0-.69-.56-1.25-1.25-1.25H3.75C3.06 0 2.5.56 2.5 1.25v2.083h-.417A2.086 2.086 0 0 0 0 5.417v17.5C0 24.065.935 25 2.083 25h20.834A2.086 2.086 0 0 0 25 22.917v-17.5a2.086 2.086 0 0 0-2.083-2.084z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M16.609 7.563h-8.21V6.058h8.21zm.41-2.263H7.99c-.227 0-.41.17-.41.379v2.273c0 .209.183.378.41.378h9.028c.227 0 .41-.169.41-.378V5.679c0-.21-.183-.379-.41-.379z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M4.533 14.503H3.028v-.974h1.505zm.389-1.623H2.649c-.21 0-.379.145-.379.325v1.623c0 .18.17.325.379.325h2.273c.209 0 .378-.145.378-.325v-1.623c0-.18-.169-.325-.378-.325z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M10.593 14.503H9.088v-.974h1.505zm.389-1.623H8.709c-.21 0-.379.145-.379.325v1.623c0 .18.17.325.379.325h2.273c.209 0 .378-.145.378-.325v-1.623c0-.18-.169-.325-.378-.325z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M15.903 14.503h-1.505v-.974h1.505zm.389-1.623h-2.273c-.21 0-.379.145-.379.325v1.623c0 .18.17.325.379.325h2.273c.209 0 .378-.145.378-.325v-1.623c0-.18-.169-.325-.378-.325z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M21.203 14.503h-1.505v-.974h1.505zm.389-1.623h-2.273c-.21 0-.379.145-.379.325v1.623c0 .18.17.325.379.325h2.273c.209 0 .378-.145.378-.325v-1.623c0-.18-.169-.325-.378-.325z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M4.533 18.293H3.028v-.974h1.505zm.389-1.623H2.649c-.21 0-.379.145-.379.325v1.623c0 .18.17.325.379.325h2.273c.209 0 .378-.145.378-.325v-1.623c0-.18-.169-.325-.378-.325z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M10.593 18.293H9.088v-.974h1.505zm.389-1.623H8.709c-.21 0-.379.145-.379.325v1.623c0 .18.17.325.379.325h2.273c.209 0 .378-.145.378-.325v-1.623c0-.18-.169-.325-.378-.325z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M15.903 18.293h-1.505v-.974h1.505zm.389-1.623h-2.273c-.21 0-.379.145-.379.325v1.623c0 .18.17.325.379.325h2.273c.209 0 .378-.145.378-.325v-1.623c0-.18-.169-.325-.378-.325z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M21.203 18.293h-1.505v-.974h1.505zm.389-1.623h-2.273c-.21 0-.379.145-.379.325v1.623c0 .18.17.325.379.325h2.273c.209 0 .378-.145.378-.325v-1.623c0-.18-.169-.325-.378-.325z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M4.533 22.07H3.028v-.968h1.505zm.389-1.62H2.649c-.21 0-.379.145-.379.325v1.623c0 .18.17.325.379.325h2.273c.209 0 .378-.145.378-.325v-1.623c0-.18-.169-.325-.378-.325z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M10.593 22.07H9.088v-.968h1.505zm.389-1.62H8.709c-.21 0-.379.145-.379.325v1.623c0 .18.17.325.379.325h2.273c.209 0 .378-.145.378-.325v-1.623c0-.18-.169-.325-.378-.325z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M16.688 20.45l-2.062 2.046-1.068-.883-.678.561 1.439 1.19c.09.075.212.116.34.116h.02a.525.525 0 0 0 .348-.142l2.398-2.38z", "data-v-70713aad" => "", :fill => "currentColor"}
            %g{"data-v-70713aad" => ""}
              %path{:d => "M21.988 20.45l-2.062 2.046-1.068-.883-.678.561 1.439 1.19c.09.075.212.116.34.116h.02a.525.525 0 0 0 .348-.142l2.398-2.38z", "data-v-70713aad" => "", :fill => "currentColor"}
      -if !@event.date.nil?
        %span{"data-v-12781a52" => ""}
          =@event.date.strftime("%d")
          =t(@event.date.strftime("%B"))
          =@event.date.strftime("%Y")
      -else
        %span{"data-v-12781a52" => ""}
          ="не указана"
  .info-panel__content{"data-v-12781a52" => ""}
    .info-panel__title{"data-v-12781a52" => ""}
      %span{"data-v-12781a52" => ""} Время проведения
    .info-panel__description{"data-v-12781a52" => ""}
      %svg.info-panel__icon.svg{"data-v-0c6e2848" => "", "data-v-12781a52" => "", :height => "25", :viewbox => "0 0 25 25", :width => "25", :xmlns => "http://www.w3.org/2000/svg"}
        %g{"data-v-0c6e2848" => ""}
          %g{"clip-path" => "url(#clip-1C5E71A1-4E19-4ABC-AE7F-1F3EFE0D6E0E)", "data-v-0c6e2848" => ""}
            %path{:d => "M23.656 12.5c0 3.077-1.251 5.862-3.272 7.88a11.118 11.118 0 0 1-7.883 3.257 11.13 11.13 0 0 1-7.887-3.257 11.148 11.148 0 0 1 0-15.757 11.117 11.117 0 0 1 7.887-3.257c3.076 0 5.866 1.238 7.883 3.257a11.098 11.098 0 0 1 3.272 7.877zm-10.48-.683V4.363a.677.677 0 0 0-.68-.674.67.67 0 0 0-.675.674v8.24l.01.012v.039l.012.017v.012l.008.018v.021l.009.008.01.019v.01l.01.02.01.02v.009l.009.02.011.01c.116.2.335.345.586.345h6.372a.677.677 0 0 0 .674-.683.677.677 0 0 0-.674-.683zM3.66 3.66A12.46 12.46 0 0 0 0 12.5c0 3.45 1.393 6.574 3.664 8.84A12.453 12.453 0 0 0 12.496 25c3.45 0 6.572-1.4 8.841-3.66a12.5 12.5 0 0 0 0-17.681 12.506 12.506 0 0 0-17.676 0z", "data-v-0c6e2848" => "", :fill => "currentColor"}
      %span{"data-v-12781a52" => ""}
        =@event.start_time.strftime("%H:%M")
        ="-"
        =@event.duration.strftime("%H:%M")
  .info-panel__content{"data-v-12781a52" => ""}
    .info-panel__title{"data-v-12781a52" => ""}
      %span{"data-v-12781a52" => ""} Длительность
    .info-panel__description{"data-v-12781a52" => ""}
      %svg.info-panel__icon.svg{"data-v-08de177f" => "", "data-v-12781a52" => "", :height => "24", :viewbox => "0 0 19 24", :width => "19", :xmlns => "http://www.w3.org/2000/svg"}
        %g{"data-v-08de177f" => ""}
          %g{"data-v-08de177f" => ""}
            %path{:d => "M2.28 22.207h14.44v.755H2.28zm1.9-4.685c0-.779.382-1.5 1.025-1.934L9.5 12.7l4.295 2.888a2.324 2.324 0 0 1 1.025 1.934v3.918H4.18zm1.025-8.63A2.324 2.324 0 0 1 4.18 6.958V3.04h10.64v3.918c0 .779-.382 1.5-1.025 1.934L9.5 11.78zM2.28 1.508h14.44v.755H2.28zm16.34 21.464h-1.14V21.44h-1.9v-3.918c0-1.035-.51-1.997-1.363-2.572l-4.033-2.71 4.033-2.71a3.094 3.094 0 0 0 1.363-2.572V3.04h1.9V1.508h1.14c.21 0 .38-.173.38-.384a.382.382 0 0 0-.38-.384H.38C.17.74 0 .912 0 1.124c0 .211.17.384.38.384h1.14V3.04h1.9v3.918c0 1.035.51 1.997 1.363 2.572l4.033 2.71-4.033 2.71a3.094 3.094 0 0 0-1.363 2.572v3.918h-1.9v1.532H.38c-.21 0-.38.173-.38.384 0 .212.17.384.38.384h18.24c.21 0 .38-.172.38-.384a.383.383 0 0 0-.38-.384z", "data-v-08de177f" => "", :fill => "currentColor"}
      %span.small-4{"data-v-12781a52" => ""}
        =@event.time_diff
  .info-panel__content{"data-v-12781a52" => ""}
    .info-panel__title{"data-v-12781a52" => ""}
      %span{"data-v-12781a52" => ""} Зарегистрировалось
    .el-tooltip.info-panel__description{"aria-describedby" => "el-tooltip-3627", "data-v-12781a52" => "", :tabindex => "0"}
      %svg.info-panel__icon.svg{"data-v-12781a52" => "", "data-v-be4775e8" => "", :height => "23", :viewbox => "0 0 25 23", :width => "25", :xmlns => "http://www.w3.org/2000/svg"}
        %g{"data-v-be4775e8" => ""}
          %g{"data-v-be4775e8" => ""}
            %g{"data-v-be4775e8" => ""}
              %g{"data-v-be4775e8" => ""}
                %path{:d => "M22.652 1.5v0H2.348C1.605 1.5 1 2.083 1 2.799v12.9c0 .716.605 1.299 1.348 1.299h20.304c.743 0 1.348-.583 1.348-1.299V2.8c0-.716-.605-1.299-1.348-1.299", "data-v-be4775e8" => "", :fill => "none", :stroke => "currentColor", "stroke-miterlimit" => "20"}
              %g{"data-v-be4775e8" => ""}
                %path{:d => "M19.689 20.205v0H16.05v0V18.3v0H8.952v1.905H5.314a.662.662 0 0 0-.674.65c0 .358.302.648.674.648h14.375c.372 0 .674-.29.674-.649a.662.662 0 0 0-.674-.65", "data-v-be4775e8" => "", :fill => "none", :stroke => "currentColor", "stroke-miterlimit" => "20"}
      %span{"data-v-12781a52" => ""}
        =@event.registered_string

-# Название мероприятия
.main-title.event-page__component{"data-v-47a53cef" => "", "data-v-68ed100c" => ""}
  %h2.main-title__text{"data-v-68ed100c" => ""}
    =@event.name.to_s

-# Описание и место проведения мероприятия
.event-page__content_background_gray{"data-v-47a53cef" => ""}
  %table.table-borderless{:style=>"width:100%;"}
    %tr
      %td
        = image_tag @site_info.logo_image.variant(resize_to_limit: [100, 100])
        %span.event-description__agent-title{"data-v-215d65d4" => ""}
          -@event.places.find_each do |pl|
            =pl.name
      %td
        %p.p_stylized
          =@event.description



-# Блок 3 - Формат, тематика, целевая аудитория
.grid-container{"data-v-47a53cef" => ""}
  .event-blocks.event-page__component{"data-v-47a53cef" => "", "data-v-feed7adc" => ""}
    .event-blocks__block{"data-v-feed7adc" => ""}
      .event-blocks__icon{"data-v-feed7adc" => ""}
        %img{"data-v-feed7adc" => "", :src => "../assets/0fb7c67.svg"}/
      %h3.event-blocks__header{"data-v-feed7adc" => ""} Формат
      -@event.formats.find_each do |pl|
        .event-blocks__content{"data-v-feed7adc" => ""}
        %span{"data-v-feed7adc" => ""}
          =pl.name
    .event-blocks__block{"data-v-feed7adc" => ""}
      .event-blocks__icon{"data-v-feed7adc" => ""}
        %img{"data-v-feed7adc" => "", :src => "../assets/408da89.svg"}/
      %h3.event-blocks__header{"data-v-feed7adc" => ""} Тематика
      -@event.portals.find_each do |pl|
        .event-blocks__content{"data-v-feed7adc" => ""}
        %span{"data-v-feed7adc" => ""}
          =pl.name
    .event-blocks__block{"data-v-feed7adc" => ""}
      .event-blocks__icon{"data-v-feed7adc" => ""}
        %img{"data-v-feed7adc" => "", :src => "../assets/d132dbc.svg"}/
      %h3.event-blocks__header{"data-v-feed7adc" => ""} Целевая аудитория
      -@event.auds.find_each do |pl|
        .event-blocks__content{"data-v-feed7adc" => ""}
        %span{"data-v-feed7adc" => ""}
          =pl.name

-# Разделитель со ссылками на всякие вконтакты
#address.event-page__content_background_blue{"data-v-47a53cef" => ""}
  .event-page__wrapper-map.grid-container{"data-v-47a53cef" => ""}
    .event-sharing{"data-v-47a53cef" => "", "data-v-5ea95106" => ""}
      .event-sharing__sharing{"data-v-5ea95106" => ""}
        %a{"data-v-5ea95106" => "", :href => @site_info.sn_vk, :target => "_blank"}
          %svg.event-sharing__social-icon{"data-v-5ea95106" => "", "data-v-7d0b3c2e" => "", :height => "100%", :viewbox => "0 0 30 30", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %g{"data-v-7d0b3c2e" => ""}
              %g{"data-v-7d0b3c2e" => ""}
                %g{"data-v-7d0b3c2e" => ""}
                  %path{:d => "M14.794 29.96C6.624 29.96 0 23.253 0 14.98S6.624 0 14.794 0c8.17 0 14.794 6.707 14.794 14.98s-6.624 14.98-14.794 14.98zm-.563-8.639h1.162s.35-.04.529-.235c.165-.18.16-.516.16-.516s-.023-1.578.7-1.81c.714-.23 1.629 1.524 2.6 2.199.735.51 1.293.398 1.293.398l2.594-.036s1.358-.085.714-1.166c-.053-.089-.375-.8-1.93-2.26-1.627-1.527-1.41-1.281.551-3.926 1.195-1.61 1.671-2.593 1.523-3.014-.143-.401-1.02-.295-1.02-.295l-2.923.019s-.217-.03-.377.066c-.158.095-.258.318-.258.318s-.463 1.247-1.08 2.305c-1.301 2.238-1.821 2.355-2.034 2.217-.495-.324-.371-1.301-.371-1.994 0-2.168.324-3.072-.633-3.305-.317-.078-.551-.13-1.363-.137-1.044-.011-1.926.003-2.426.25-.332.165-.588.533-.433.553.194.026.632.12.864.44.298.412.288 1.337.288 1.337s.173 2.552-.402 2.87c-.394.217-.934-.228-2.095-2.257-.593-1.039-1.042-2.187-1.042-2.187s-.086-.214-.24-.33c-.189-.139-.45-.183-.45-.183l-2.777.018s-.417.012-.57.196c-.136.163-.01.5-.01.5s2.173 5.148 4.635 7.742c2.257 2.38 4.82 2.223 4.82 2.223", "data-v-7d0b3c2e" => "", :fill => "currentColor"}
        %a{"data-v-5ea95106" => "", :href => @site_info.sn_facebook, :target => "_blank"}
          %svg.event-sharing__social-icon{"data-v-5b9ed730" => "", "data-v-5ea95106" => "", :height => "100%", :viewbox => "0 0 32 31", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %g{"data-v-5b9ed730" => ""}
              %g{"data-v-5b9ed730" => ""}
                %g{"data-v-5b9ed730" => ""}
                  %path{:d => "M31.937 15.568c0 8.597-7.15 15.568-15.969 15.568C7.15 31.136 0 24.166 0 15.568 0 6.97 7.15 0 15.968 0c8.82 0 15.969 6.97 15.969 15.568M20.36 12.604h-3.227V10.5c0-.79.535-.975.916-.975h2.32v-3.47l-3.197-.015c-3.55 0-4.356 2.592-4.356 4.247V12.6h-2.053v3.578h2.053v10.176h4.317V16.178h2.85z", "data-v-5b9ed730" => "", :fill => "currentColor"}
        %a{"data-v-5ea95106" => "", :href => @site_info.sn_twitter, :target => "_blank"}
          %svg.event-sharing__social-icon{"data-v-5ea95106" => "", "data-v-8aeeb9f2" => "", :height => "100%", :viewbox => "0 0 32 32", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %g{"data-v-8aeeb9f2" => ""}
              %g{"data-v-8aeeb9f2" => ""}
                %g{"data-v-8aeeb9f2" => ""}
                  %path{:d => "M31.937 15.957c0 8.812-7.15 15.957-15.969 15.957C7.15 31.914 0 24.769 0 15.957 0 7.145 7.15 0 15.968 0c8.82 0 15.969 7.145 15.969 15.957m-6.188-4.489a7.631 7.631 0 0 1-2.192.6 3.836 3.836 0 0 0 1.68-2.11 7.678 7.678 0 0 1-2.425.926 3.813 3.813 0 0 0-2.787-1.205 3.815 3.815 0 0 0-3.718 4.684 10.838 10.838 0 0 1-7.866-3.986 3.813 3.813 0 0 0 1.18 5.093 3.799 3.799 0 0 1-1.729-.478v.048a3.817 3.817 0 0 0 3.062 3.74 3.79 3.79 0 0 1-1.724.066 3.822 3.822 0 0 0 3.567 2.648 7.658 7.658 0 0 1-4.741 1.632c-.309 0-.613-.016-.91-.052a10.806 10.806 0 0 0 5.85 1.714c7.02 0 10.86-5.813 10.86-10.853 0-.165-.004-.33-.011-.493a7.74 7.74 0 0 0 1.904-1.974", "data-v-8aeeb9f2" => "", :fill => "currentColor"}
        %a{"data-v-5ea95106" => "", :href => @site_info.sn_ok, :target => "_blank"}
          %svg.event-sharing__social-icon{"data-v-156e773c" => "", "data-v-5ea95106" => "", :height => "100%", :viewbox => "0 0 30 30", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
            %g{"data-v-156e773c" => ""}
              %g{"data-v-156e773c" => ""}
                %path{:d => "M18.917 17.292a7.609 7.609 0 0 1-1.972.984 8.24 8.24 0 0 1-.369.108l2.033 2.078.033.035c.518.558.505 1.45-.03 1.99a1.307 1.307 0 0 1-1.906-.03l-2.08-2.25-2.075 2.245a1.307 1.307 0 0 1-1.938.004 1.453 1.453 0 0 1 .029-1.991l2.036-2.08a6.466 6.466 0 0 1-.367-.108 7.637 7.637 0 0 1-1.975-.986 1.797 1.797 0 0 1-.763-1.478 1.286 1.286 0 0 1 .686-1.165 1.241 1.241 0 0 1 1.348.133 4.95 4.95 0 0 0 6.04 0c.389-.31.912-.36 1.348-.133.425.217.692.671.686 1.166-.001.595-.288 1.15-.764 1.478m-6.593-6.973c0 1.245 1.031 2.255 2.303 2.255 1.271 0 2.302-1.01 2.302-2.255 0-1.246-1.03-2.256-2.302-2.256s-2.303 1.01-2.303 2.256zm2.303 4.188c-2.36-.003-4.274-1.876-4.277-4.188 0-2.314 1.915-4.19 4.277-4.19s4.276 1.876 4.276 4.19c0 2.313-1.914 4.188-4.276 4.188zM30 15c0-8.284-6.716-15-15-15C6.716 0 0 6.716 0 15c0 8.284 6.716 15 15 15 8.284 0 15-6.716 15-15z", "data-v-156e773c" => "", :fill => "currentColor"}


-# Правила регистрации
.grid-container{"data-v-47a53cef" => ""}
  .rules.grid-x.event-page__component{"data-v-23bfef36" => "", "data-v-47a53cef" => ""}
    .rules__icon.small-2.medium-1.large-1{"data-v-23bfef36" => ""}
      %img{"data-v-23bfef36" => "", :src => "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48Zz48Zz48cGF0aCBmaWxsPSIjMWFiNGU5IiBkPSJNMTQgN2g0djRoLTR6bTAgNmg0djEyaC00em0yIDE5QzcuMTcgMzIgMCAyNC44MyAwIDE1Ljk5IDAgNy4xNiA3LjE3IDAgMTYgMGM4Ljg0IDAgMTYgNy4xNiAxNiAxNS45OUMzMiAyNC44MyAyNC44NCAzMiAxNiAzMnptMC0yOC4zOGMtNi44NCAwLTEyLjM5MSA1LjU0LTEyLjM5MSAxMi4zNyAwIDYuODUgNS41NTEgMTIuMzkgMTIuMzkxIDEyLjM5czEyLjM5MS01LjU0IDEyLjM5MS0xMi4zOUMyOC4zOTEgOS4xNiAyMi44NCAzLjYyIDE2IDMuNjJ6Ii8+PC9nPjwvZz48L3N2Zz4="}/
    .rules__content.small-10.medium-11.large-11{"data-v-23bfef36" => ""}
      %ul{"data-v-23bfef36" => ""}
        Правила регистрации
        %li{"data-v-23bfef36" => ""}
          Вход на мероприятие осуществляется по предварительной регистрации на сайте.
          %br
          После регистрации на сайте на адрес электронной почты, указанной в анкете, придет письмо с подтверждением регистрации.
          %br
          В случае невозможности посетить мероприятие, просим Вас отказаться от участия посредством отмены электронной регистрации. Сделать это Вы можете в личном кабинете участника в разделе
          %a{:href => "/my_events"} «Мои мероприятия»
      %ul
        - if can? :create, MyEvent
          = link_to new_my_event_path().to_s + '?event=' + @event.id.to_s  do
            = image_tag('register.png', :height => 25, :width => 95, :alt => "Записаться на мероприятие", :title => "Записаться на мероприятие")

  -if current_user.nil?
    .forms-auth__validation-fields{"data-v-25c0c9f8" => ""}
      .forms-auth__title{"data-v-25c0c9f8" => ""}
        %span{"data-v-25c0c9f8" => ""} Внимание
      .forms-auth__description{"data-v-25c0c9f8" => ""}
        %div{"data-v-25c0c9f8" => ""} Для того чтобы зарегистрироваться на мероприятие, необходимо предварительно авторизоваться
      .forms-auth__button{"data-v-25c0c9f8" => ""}
        %a{"data-v-25c0c9f8" => "", :href => "/users/sign_in", :target => "_self"}
          %button.el-button.el-button--primary{"data-v-25c0c9f8" => "", :type => "button"}
            %span Авторизация

%hr

-begin
  -if !current_user.nil?
    -if current_user.admin? or curren_user.publisher_role?
      = render :partial => 'show_users', :locals => {:legend => t(".title")}
-rescue
  -s= 1