%h4= t("my_events.actions.edit")
-event_def = params[:event]
-if @my_event.event_id.nil?
  -@my_event.event_id = event_def.to_i
-if @my_event.user_id.nil?
  -@my_event.user_id =  @current_user.id.to_i

= form_for @my_event do |f|
  .form-group
    %table
      %tr
        %td= t("my_events.user")
        -if current_user.admin? # or current_user.publisher_role?
          %td=f.number_field :user_id
        -else
          %td= @current_user.email
          =f.hidden_field :user_id, :value => @current_user.id
      %tr
        %td= t("my_events.event")
        %td= f.collection_select :event_id, @events, :id, :name, prompt: true, placeholder: t('my_events.actions.event')
      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @my_event.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-my_eventment" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}
