-if @my_events.count > 10
  .flickr_pagination
    = will_paginate @my_events

%table.table.table-striped
  %thead
    %th= t("my_events.name")
    -if current_user.admin?
      %th= t("my_events.user")
    %th= t("my_events.start_time")
    %th= t("my_events.place")
    %th= t("my_events.duration")
    %th= t("my_events.created_at")
    %th= t("my_events.actions.title")
  %tbody
    - @my_events.each do |row|
      -if can? :read, row
        %tr
          %td= link_to row.event.name.to_s, row.event
          -if current_user.admin?
            %td=row.user.email
          %td= row.event.start_time.strftime("%H:%M")
          %td
            %ul
              -row.event.places.find_each do |pl|
                %li=pl.name
          %td= row.event.time_diff
          %td= row.created_at.to_s
          %td
            - if can? :edit, MyEvent
              = link_to edit_my_event_path(row) do
                = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
            - if can? :delete, MyEvent
              = link_to my_event_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
                = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @my_events.count > 10
  .flickr_pagination
    = will_paginate @my_events

-#permit(:name, :description, :contact_fio, :contact_address, :contact_email, :contact_phone)