.row
  .span9
    %h3.pull-left= t("my_events.list.title")
    -# = render_notice
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag my_events_path, :method => 'get', :id => "my_events_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = bootstrap_icon "search", width: 25, height: 25, fill: "blue"
          %td
            ="Найдено"
            =@my_events.count
            ="записей"
          %td
            - if can? :create, MyEvent
              = link_to new_my_event_path do
                -# = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
                = image_tag('register.png', :height => 25, :width => 95, :alt => "Записаться на мероприятие", :title => "Записаться на мероприятие")
            -# - if can? :export, MyEven
            -#   = link_to my_events_export_path do
            -#     = bootstrap_icon "download", width: 15, height: 15, fill: "blue"

    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}