-# -@id=params[:id]
%h1 Наименование проекта
%h2=@my_event.event.name.to_s
%table
  %tr
    %td=t("my_events.code")
    %td=@my_event.user.email
  %tr
    %td=t("my_events.full_name")
    %td=@my_event.event.name
%div
  = link_to "Вернуться", my_events_path, :class => "btn btn-primary btn-mini"