%h4= t("districts.actions.edit")
= form_for @district do |f|
  .form-group
    %table
      %tr
        %td= t("districts.full_name")
        %td= f.text_field :name, autofocus: false, districtholder: t("districts.name"), class: 'form-control'
      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @district.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-districtment" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}
