-if @districts.count > 20
  .flickr_pagination
    = will_paginate @districts

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("districts.id")
    %th= t("districts.name")
    -if current_user.admin?
      %th= t("districts.actions.title")
  %tbody
    - @districts.each do |row|
      -if can? :read, row
        %tr
          -if current_user.admin?
            %td
              = t("districts.id")
              = row.id.to_s
              = t("districts.created_at")
              = row.created_at.to_s
              = t("districts.updated_at")
              = row.updated_at.to_s
          %td= row.name.to_s
          -if current_user.admin?
            %td
              - if can? :edit, District
                = link_to edit_district_path(row) do
                  = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
              - if can? :delete, District
                = link_to district_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
                  = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @districts.count > 20
  .flickr_pagination
    = will_paginate @districts

-#permit(:name, :description, :contact_fio, :contact_address, :contact_email, :contact_phone)