.row
  .span9
    %h3.pull-left= t("districts.list.title")
    -# = render_notice
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag districts_path, :method => 'get', :id => "districts_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = bootstrap_icon "search", width: 25, height: 25, fill: "blue"
          %td
            - if can? :create, District
              = link_to new_district_path do
                = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
                = "добавить"
            -# - if can? :export, District
            -#   = link_to districts_export_path do
            -#     = bootstrap_icon "download", width: 15, height: 15, fill: "blue"

    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}