-# -@id=params[:id]
%h1 Наименование проекта
%h2=@district.name.to_s
%table
  %tr
    %td=t("districts.code")
    %td=@district.code.to_s
  %tr
    %td=t("districts.full_name")
    %td=@district.name
%div
  = link_to "Вернуться", districts_path, :class => "btn btn-primary btn-mini"