.page{"data-v-69362bd2" => ""}
  .page__content-wrapper{"data-v-69362bd2" => ""}
    .grid-container{"data-v-69362bd2" => ""}
      %section.projects-page.grid-x.align-justify.medium-up-3.large-up-4{"data-v-401d4034" => "", "data-v-69362bd2" => ""}
        .col-lg-4.col-md-6.ml-auto.mr-auto
          %h1.text-center=t("devise.sessions.new.sign_in")
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            -#%form.form-signin
            .form-signin
              = f.email_field :email, autofocus: true, placeholder: t("activerecord.attributes.user.email"), class: 'form-control'
            .form-signin
              = f.password_field :password, autocomplete: "off", placeholder: t("activerecord.attributes.user.password"), class: 'form-control'
              - if devise_mapping.rememberable?
                .form-check
                  %label.form-check-label
                    = f.check_box :remember_me, class: "form-check-input"
                    = t("activerecord.attributes.user.remember_me")
            .form-signin
              = f.submit t("devise.sessions.new.sign_in"), class: "btn btn-primary btn-block btn-lg"
          .text-center
            = render "devise/shared/links"
