%h4= t("portals.actions.edit")
= form_for @portal do |f|
  .form-group
    %table
      %tr
        %td= t("portals.full_name")
        %td= f.text_field :name, autofocus: false, placeholder: t("portals.name"), class: 'form-control'
      %tr
        %td= t("portals.description")
        %td= f.text_field :description, autofocus: false, placeholder: t("portals.description"), class: 'form-control'
      %tr
        %td= t("portals.about")
        %td= f.text_field :about, autofocus: false, placeholder: t("portals.about"), class: 'form-control'
      %tr
        %td
          = t("portals.logo_image")
          -if @portal.logo_image.attached?
            = image_tag @portal.logo_image.variant(resize_to_limit: [100, 100])
        %td
          = f.file_field :logo_image, direct_upload: true
          = f.check_box(:delete_logo_image)
          = t("portals.delete_file")

      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @portal.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}