-if @portals.count > 20
  .flickr_pagination
    = will_paginate @portals

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("portals.id")
    %th= t("portals.logo_image")
    %th= t("portals.name")
    %th= t("portals.description")
    %th= t("portals.about")
    -if current_user.admin?
      %th= t("portals.actions.title")
  %tbody
    - @portals.each do |row|
      -if can? :read, row
        %tr
          -if current_user.admin?
            %td
              = t("portals.id")
              = row.id.to_s
              %br
                = t("portals.created_at")
                = row.created_at.to_s
              %br
                = t("portals.updated_at")
                = row.updated_at.to_s
          %td
            -begin
              = image_tag row.logo_image.variant(resize_to_limit: [100, 100])
            -rescue
              %img{:src => asset_path('no_logo.png'), :height => 100, :width => 100, :alt => "Нет логотипа"}

            -# = image_tag row.logo_image.variant(resize_to_limit: [100, 100])
            -# - else
            -#   -if row.logo_image.attached?
            -#     = link_to row.logo_image.filename, row.logo_image
            -#   -else
            -#     = t("portals.file_is_absent")
          %td= row.name.to_s
          %td= row.description.to_s
          %td= row.about.to_s
          -if current_user.admin?
            %td
              - if can? :edit, Portal
                = link_to edit_portal_path(row) do
                  = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
              - if can? :delete, Portal
                = link_to portal_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
                  = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @portals.count > 20
  .flickr_pagination
    = will_paginate @portals