-# -@id=params[:id]
%h1 Наименование проекта
%h2=@portal.name.to_s
%table
  %tr
    %td=t("portals.id")
    %td=@portal.id.to_s
  %tr
    %td=t("portals.full_name")
    %td=@portal.name
%div
  = link_to "Вернуться", portals_path, :class => "btn btn-primary btn-mini"