%h4= t("places.actions.edit")
= form_for @place do |f|
  .form-group
    %table
      %tr
        %td= t("places.full_name")
        %td= f.text_field :name, autofocus: false, placeholder: t("places.name"), class: 'form-control'
      %tr
        %td= t("places.description")
        %td= f.text_area :description, :cols => 100, :rows => 5
      %tr
        %td= t("places.contact_fio")
        %td= f.text_field :contact_fio, autofocus: false, placeholder: t("places.contact_fio"), class: 'form-control'
      %tr
        %td= t("places.contact_address")
        %td= f.text_field :contact_address, autofocus: false, placeholder: t("places.contact_address"), class: 'form-control'
      %tr
        %td= t("places.contact_email")
        %td= f.text_field :contact_email, autofocus: false, placeholder: t("places.contact_email"), class: 'form-control'
      %tr
        %td= t("places.contact_phone")
        %td= f.text_field :contact_phone, autofocus: false, placeholder: t("places.contact_phone"), class: 'form-control'

      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @place.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}
