-if @places.count > 20
  .flickr_pagination
    = will_paginate @places

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("places.id")
    %th= t("places.name")
    %th= t("places.description")
    %th= t("places.contact_fio")
    %th= t("places.contact_address")
    %th= t("places.contact_email")
    %th= t("places.contact_phone")
    -if current_user.admin?
      %th= t("places.actions.title")
  %tbody
    - @places.each do |row|
      -if can? :read, row
        %tr
          -if current_user.admin?
            %td
              = t("places.id")
              = row.id.to_s
              %br
                = t("places.created_at")
                = row.created_at.to_s
              %br
                = t("places.updated_at")
                = row.updated_at.to_s
          %td= row.name.to_s
          %td= row.description.to_s
          %td= row.contact_fio.to_s
          %td= row.contact_address.to_s
          %td= row.contact_email.to_s
          %td= row.contact_phone.to_s
          -if current_user.admin?
            %td
              - if can? :edit, Place
                = link_to edit_place_path(row) do
                  = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
              - if can? :delete, Place
                = link_to place_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
                  = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @places.count > 20
  .flickr_pagination
    = will_paginate @places

-#permit(:name, :description, :contact_fio, :contact_address, :contact_email, :contact_phone)