-# -@id=params[:id]
%h1 Наименование проекта
%h2=@place.name.to_s
%table
  %tr
    %td=t("places.code")
    %td=@place.code.to_s
  %tr
    %td=t("places.full_name")
    %td=@place.name
%div
  = link_to "Вернуться", places_path, :class => "btn btn-primary btn-mini"